<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>

    <main class="main-main">
        <div class="div-detail-1">
            <div class="div-detail-2">
                <img src="/images/<%= producto.image %>">
            </div>
            <div>
                    <div class="main-detalle-edit">  
                            
                            <h3 class="titulo-producto-detail"><%= producto.name %></h3>
                    </div>
                    <div>
                        <div class="descripcion-prod-detail">
                            <p id="precio-base">$<%=producto.price%></p>
                            <p id="precio"> <span id="off"><%= producto.discount %>% OFF</span> en Efectivo</p>
                            <p id="precio-discount" >Precio con descuento: $<%=producto.price - ((producto.discount * producto.price) /100) %></p>
                        </div>

                        <div class="botones-productos">

                            <a href="#" class="button-edit-product">
                                <button type="submit" class="button">Ir a Pagar</button>
                            </a>
                            <a href="/users/login" class="button-edit-product">
                                <button type="submit" class="button">Iniciar Seción</button>
                            </a>
                            <form action="/products/" style="margin-bottom: 25px">
                                <button type="submit" class="button">Seguir Comprando</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="comentario-producto">
            <h2>Descripción</h2>
            <p><%=producto.description %></p>
        </div>
        
        

    </main>

         <%-include ("./partials/footer")%>


</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
  // PARTIAL include ("./partials/head")%>
    
    <body>
   // PARTIAL     include ("./partials/header")%>
        
     <main class="main-carrito">
        <div class="opciones-box"></div>
        <div class="opciones-dentro-box">
            <p class="compras">1.Carrito de Compras</p>
            <p class="envio">2.Detalles de Envio</p>
            <p class="pago">3.Opciones de Pago</p>
        </div>
        
        <div class="linea-opciones"></div>
        <div class="linea-carrito-de-compras"></div>
        <div class="linea-carrito-de-compras2"></div>
        <p class="Carrito-de-Compras">Carrito de Compras</p>
        <p class="Resumen">Resumen</p>
        
    
      
        <div class="Subtotal-Envio-Impuestos">
            <p>Subtotal</p>
            <p>Envio</p>
            <p>Impuestos</p>
        
        </div>
        <div class="precios">
            <p>$600</p>
            <p>$0</p>
            <p>$13</p>
        
        </div>
       
        <p class="total">total</p>
        <p class="numero613">$613</p>
        <img class="silla1" src="https://www.modularesdepino.com.ar/wp-content/uploads/2018/05/Silla-4-fajas.jpg" alt="silla1">
        <img class="escritorio" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/488/711/products/121-b2a15ff1e1721aa76316232534839733-640-0.png" alt="escritorio">
        <input class="continuar" type="button" value="continuar">
        <input class="cancelar" type="button" value="cancelar">
        <input class="casilla1" type="submit" value="1">
        <input class="casilla2" type="submit" value="1">
        <p class="silla-dc">Silla Gamer</p>
        <p class="escritorio-dc">Escritorio Gamer</p>
        <p class="silla-precio">$300</p>
        <p class="escritorio-precio">$300</p>
    </main>
        
    // PARTIAL    include ("./partials/footer")%>
 </body>
</html>

-->