<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>
    
    <main class="el-main">
        <br>
        <div class="productosdestacados">
            <p>Todos los productos</p>
        </div>
        <div class="probando4321">
        <% for (let obje of prod) { %>
        <div class="contenedor-img">
            <nav class="productos">
                <a href="/products/detail/<%= obje.id %>">
                    <div class="imagenes">
                        <img src="/images/<%= obje.image %>"></img>
                    <div class="descripcion">
                        <p> <%= obje.name %> </p>
                    <a href="/users/carrito/<%= obje.id %>" class="anchor-home">
                            <i class="fa-solid fa-truck"></i>
                    </a>
                    </div>
                    </div>
                </a>
            </nav>
        </div>
        <% } %>
        </div>
    </main>

    <%-include ("./partials/footer")%>

</body>
</html>