<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>

    <div class="contenedor-total-edit">
        <div class="col-12">
            <h2>Estás editando: <i><%=producto.name %></i></h2>
        </div>
    </div>
    <div class="contenedor-parcial-edit">

        <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario-create" >

            <label for="name" class="form-label">Nombre del producto:</label>
            <input type="text" id="name" name="name" value="<%=producto.name %>" placeholder="Ej: Zapatillas Reebok" class="boton-login">
            <label for="price" class="form-label">Precio del producto:</label>
            
            <input type="text" id="price" name="price" value="<%=producto.price %>" placeholder="Ej: 5678" class="boton-login">
            <label for="discount" class="form-label">Descuento:</label>
            
            <input type="text" id="discount" name="discount" value="<%=producto.discount %>" placeholder="Ej: 15" class="boton-login">
            <%if (producto.category=="visited") { %>
                <select name="category" id="category" class="boton-login">
                    <option value="">Elegí</option>
                    <option value="in-sale">En oferta</option>
                    <option value="visited" selected>Últimos agregados</option>
                </select>
                <% } else { %>
                    <select name="category" id="category" class="boton-login">
                        <option value="">Elegí</option>
                        <option value="in-sale" selected>En oferta</option>
                        <option value="visited">Últimos agregados</option>
                    </select>
                <% } %>
            <label for="description" class="form-label" id="imagen-select">Seleccionar Imagen:</label>
            
            <input type="file" name="imageProduct" class="boton-login-select">
            <label for="description" class="form-label">Descripción:</label>
            
            <textarea name="description" id="description" class="form-input"><%= producto.description %></textarea>
            <button type="submit" class="button-edit">Guardar producto</button>

        </form>

    </div>

        <%-include ("./partials/footer")%>

</body>
</html>